/* resseting default styles*/
body,
h1,
p {
    margin: 0;
    padding: 0;
}

/*Body styling*/
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    padding: 20px;
}

#main-container {
    background-color: lightblue;
}

/*Header styling*/
header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#brand-name {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
}

#brand-name:hover {
    color: #ff9800
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-list li {
    padding: 0 15px;
}

.nav-list li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3 ease;
}

.nav-list li a:hover {
    color: #ff9800
}

header a {
    color: #fff;
    text-decoration: none;
}

/*Main content styles*/
main {
    padding: 20px;
}

#about-me {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#about-me h2 {
    color: #333;
}

#intro-text {
    color: #555;
    cursor: pointer;
    transition: color 0.3s;
}

#intro-text:hover {
    color: #333;
}

#education {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#education h2 {
    color: #333;
    text-align: center;
}

#experience {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20xp;
    border-radius: 10px;
    margin-top: 20px;
}

#projects {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.experience-entry {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: calc(100% - 40px);
    margin: 0 auto;
    padding: 20px;
}

.projects img {
    max-width: 100%;
    height: auto;
    display: block;
}

.projects {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.projects h3 {
    align-items: center;
}

.school {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.school h3 {
    margin-top: 0;
}

.details {
    color: #333;
    padding: 10px;
    background-color: #e9e9e9;
    border-left: 3px solid #333;
    display: none;
    max-height: none;
    opacity: 1;
    overflow: visible;
}


.more-info {
    color: #555;
    cursor: pointer;
    transition: color 0.3s;
}

.more-info:hover {
    color: #333;
}

/*Footer styling*/
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
}

a:hover {
    color: #009578
}

/*Interactive Design for mobile*/
@media (max-width: 600px) {
    .nav-container {
        flex-direction: column;
    }

    .nav-list {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-list li {
        padding: 10px 0;
    }

    .projects-container {
        grid-template-columns: 1fr;
    }
}